.footer{
    display: flex;
    width: 100%;
    padding: 1rem;
    .contact{
        margin: auto;
        text-align: center;
        line-height: 2rem;
    }
    a{
        color: $white;
        &:hover{
            opacity: 0.8;
        }
    }
}