.container{
    height: 100vh;
    display: flex;
    
    .mainLogo{
        margin:auto;
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        img{
            margin: auto;
            max-width: 450px;
            animation-name: pulse;
            animation-duration: 5s;
            animation-iteration-count: infinite;
        }
    }
}
@keyframes pulse {
    0%   {transform:scale(1);}
    50%  {transform:scale(1.2);}
    100% {transform:scale(1);}
}