.ItemList{
  background-size: cover;
  background-position: center;
  flex: 1 49%;
  height: 50vh;
  align-content: center;
  display:flex;
  text-decoration: none;
  transition: 0.4s;
  border: 2px solid $white;
  &:hover{
    opacity: 0.8;
  }
  span{
    margin: auto;
    color: white;
    text-decoration: none;
    padding: 10px;
    border: 2px solid $white;
    background: rgba(0,0,0, 0.5);
  }
}